@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menu
{
    <li><a href="#MyBooks" onclick="ShowModule('MyBooks')">My Books</a></li>
    <li><a href="#Library" onclick="ShowModule('Library')">Library</a></li>
}

@section scripts{
    @Scripts.Render("~/bundles/reader")
    <script type="text/javascript">
        function ShowModule(id) {
            $('.wrapper').hide();
            $('#' + id).fadeIn();
        }
    </script>
}

<div id="MyBooks" class="wrapper">
    <h2>My Books</h2>
    <hr />
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Guid</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
                <th>Reader</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: readerBookViewModel.books">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Author"></td>
                <td data-bind="text: PublishDate"></td>
                <td data-bind="text: ReaderId"></td>
                <td>
                    <button data-bind="click: $parent.readerBookViewModel.ReturnBook, value: Id" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#EditBookModel">Return book</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="Library" class="wrapper" style="display: none">
    <h2>Librarian Books</h2>
    <hr />
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Guid</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
                <th>Book Shelf Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: libraryBookViewModel.books">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Author"></td>
                <td data-bind="text: PublishDate"></td>
                <td data-bind="text: BookShelfId"></td>
                <td>
                    <button data-bind="click: $parent.libraryBookViewModel.TakeBook, value: Id" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#EditBookModel">Take book</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>