@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menu
{
    <li><a href="#Books" onclick="ShowModule('Book')">Books</a></li>
    <li><a href="#Shelfs" onclick="ShowModule('Shelf')">Shelfs</a></li>
    <li><a href="#Storages" onclick="ShowModule('Storage')">Storages</a></li>
}

@section scripts{
    @Scripts.Render("~/bundles/librarian")
    <script type="text/javascript">
        function ShowModule(id) {
            $('.wrapper').hide();
            $('#' + id).fadeIn();
        }
    </script>
}

<div id="Book" class="wrapper">
    <h2>Librarian Module</h2>
    <button class="btn btn-default btn-info" data-toggle="modal" data-target="#CreateBookModel">Add new Book</button>
    <hr />
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Guid</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
                <th>BookShelf</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: bookViewModel.books">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Author"></td>
                <td data-bind="text: PublishDate"></td>
                <td data-bind="text: BookShelfId"></td>
                <td>
                    <button data-bind="click: $parent.bookViewModel.EditBook, value: Id" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#EditBookModel">Edit</button>
                    <button data-bind="click: $parent.bookViewModel.DeleteBook, value: Id" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteBookModel">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@Html.Partial("Librarian_Book_Views")


<div id="Storage" class="wrapper" style="display: none">
    <h2>Storage Module</h2>
    <button class="btn btn-default btn-info" data-toggle="modal" data-target="#CreateStorageModel">Add new Storage</button>
    <hr />
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Guid</th>
                <th>Name</th>
                <th>Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: storageViewModel.storages">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Number"></td>
                <td>
                    <button data-bind="click: $parent.storageViewModel.EditStorage, value: Id" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#EditStorageModel">Edit</button>
                    <button data-bind="click: $parent.storageViewModel.DeleteStorage, value: Id" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteStorageModel">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@Html.Partial("Librarian_Storage_Views")


<div id="Shelf" class="wrapper" style="display: none">
    <h2>Shelfes Module</h2>
    <button class="btn btn-default btn-info" data-toggle="modal" data-target="#CreateShelfModel">Add new Shelf</button>
    <hr />
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Guid</th>
                <th>Number</th>
                <th>Storage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: shelfViewModel.shelfs">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Number"></td>
                 <td data-bind="text: StorageId"></td>
                <td>
                    <button data-bind="click: $parent.shelfViewModel.EditShelf, value: Id" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#EditShelfModel">Edit</button>
                    <button data-bind="click: $parent.shelfViewModel.DeleteShelf, value: Id" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteShelfModel">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@Html.Partial("LIbrarian_Shelf_Views")